<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="访问记录" value="[{'IP':'127.0.0.1','端口号':8888},{'IP':'127.0.0.2','端口号':8888}]"/>
    <add key="号码簿地址" value="127.0.0.1:5303"/>
    <add key="圈选" value="false"/>
    <add key="调试编解码" value="true"/>
    <add key="开启扩展界面" value="true"/>
  </appSettings>
</configuration>