<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="版本号" value="3.0.0.0" />
    <add key="版本时间" value="20160828" />
    <add key="端口号" value="8888" />
    <add key="管理工具路径" value="..\管理工具\管理工具.exe" />
    <add key="内存数据库" value="true" />
    <add key="数据库地址" value="." />
    <add key="数据库名称" value="GISServer" />
    <add key="数据库账号" value="sa" />
    <add key="数据库密码" value="neolink123" />
    <add key="保留天数" value="200" />
    <add key="GPS过滤" value="{'启用':false, '省':'江苏', '市':'扬州'}" />
    <add key="插件配置" value="[{'名称':'优能PDT', '启用':true},{'名称':'Web服务', '启用':false},{'名称':'NEOTRO', '启用':true}]" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>